# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir={{ zoo_path }}/zookeeper/var
# the port at which the clients will connect
clientPort={{ zoo_port.client }}
# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns={{ zoo_arg.connections }}
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
admin.enableServer={{ zoo_arg.admin_enableServer | bool | to_json }}
admin.serverPort={{ zoo_port.admin }}
admin.commandURL={{ zoo_arg.admin_commandURL }}
{% if zoo_servers | length > 1 %}
{% for host in zoo_servers %}
server.{{ loop.index }}={{ host }}:{{ zoo_port.leader }}:{{ zoo_port.election }}
{% endfor %}
{% endif %}
{% if zoo_enable_auth | bool %}
quorum.auth.enableSasl=true
quorum.auth.learnerRequireSasl=true
quorum.auth.serverRequireSasl=true
quorum.auth.learner.loginContext=QuorumLearner
quorum.auth.server.loginContext=QuorumServer
quorum.cnxn.threads.size=20
requireClientAuthScheme=sasl
{% for host in zoo_servers %}
authProvider.{{ loop.index }}=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
{% endfor %}
{% endif %}
