[Unit]
Description=Zookeeper Application Server
After=network.target

[Service]
Type=forking
ExecStart={{ zoo_path }}/zookeeper/bin/zookeeper.init start sysd
ExecStop={{ zoo_path }}/zookeeper/bin/zookeeper.init stop sysd
User={{ zoo_arg.user }}
LimitNOFILE={{ zoo_arg.ulimit_nofile }}
LimitNPROC={{ zoo_arg.ulimit_nproc }}
LimitCORE=infinity
LimitMEMLOCK=infinity
KillMode=control-group
Environment=SYSTEMD_KILLMODE_WARNING=true
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
